body
{
    margin: 20px 10%;
    padding: 0;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    background: url(../images/stripe.png) 0 90px repeat-x, url(../images/patterns/cartographer-inverted/cartographer.png);
    background-attachment: static, fixed;
    background-color: rgba(80, 80, 90, 1);
}

h1, h2, h3
{
    color: #FFF;
    text-shadow: 1px 1px #000;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 2.6em;
}

h2
{
    font-size: 2.2em;
}

h3
{
    font-size: 1.6em;
}

.container
{
    background: rgba(100, 100, 110, 1) url(../images/stripe.png) 0 62px repeat-x;
    box-shadow: 0 0px 15px #000;
    padding: 40px 0 20px 0;
}

header h1
{
    font-size: 4em;
    background: rgba(100, 100, 110, 1);
    background-attachment: fixed;
    padding: 0 5px;
    text-transform: uppercase;
}

.subtitle
{
    width: 80%;
    margin: 0 10%;
    color: #FFF;
    padding-left: 2px;
    font-size: 0.8em;
    text-transform: uppercase;
    position: relative;
    top: -10px;
    left: 2px;
}

.subtitle ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.subtitle li
{
    display: inline;
    margin: 0 5px;
}

.subtitle li::after
{
    content: ':.';
}

.content
{
    padding: 0 10%;
}

.post
{
    margin-top: 15px;
    background-color: #FFF;
    padding: 10px;
}

.post h1
{
    color: #000;
    text-shadow: none;
}

.tags
{
    margin: 0;
    padding: 5px 0;
    border: solid 1px #000;
    border-width: 1px 0;
    list-style-type: none;
    text-align: center;
    margin: 10px 0;
}

.tags li 
{
    display: inline-block;
    margin: 0 10px;
}

nav
{
    background-color: #FFF;
    margin: -44px 0 0 15px;
    padding: 10px;
}